POSTGRES_DB=YOUR_VALUE_HERE
POSTGRES_USER=YOUR_VALUE_HERE
POSTGRES_PASSWORD=YOUR_VALUE_HERE



# ── Redis ───────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ── Google ───────────────────────────────────────────────────────
GOOGLE_CLIENT_ID=YOUR_VALUE_HERE
GOOGLE_CLIENT_SECRET=YOUR_VALUE_HERE

# ── Github ───────────────────────────────────────────────────────
GITHUB_CLIENT_ID=YOUR_VALUE_HERE
GITHUB_CLIENT_SECRET=YOUR_VALUE_HERE

# ── SMPT (GMAIL) ─────────────────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=YOUR_VALUE_HERE
SMTP_PASSWORD=YOUR_VALUE_HERE

MAIL_HOST=YOUR_VALUE_HERE
MAIL_PORT=YOUR_VALUE_HERE
MAIL_USERNAME=YOUR_VALUE_HERE
MAIL_PASSWORD=YOUR_VALUE_HERE

MAIL_FROM=YOUR_VALUE_HERE
BREVO_API_KEY=YOUR_VALUE_HERE
BREVO_TEMPLATE_ORDER_CONFIRMATION=1
BREVO_TEMPLATE_PAYMENT_SUCCESS=2
BREVO_TEMPLATE_ABANDONED_CART=3
BREVO_TEMPLATE_ADMIN_BROADCAST=4
BREVO_TEMPLATE_ORDER_SHIPPED=5

# ── Frontend URL ─────────────────────────────────────────────────
FRONTEND_URL=http://localhost:4200


# ── Cloudinary ──────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=YOUR_VALUE_HERE
CLOUDINARY_API_KEY=YOUR_VALUE_HERE
CLOUDINARY_API_SECRET=YOUR_VALUE_HERE

PAYMOB_API_KEY=YOUR_VALUE_HERE
PAYMOB_HMAC_SECRET=YOUR_VALUE_HERE
PAYMOB_INTEGRATION_ID=YOUR_VALUE_HERE
PAYMOB_IFRAME_ID=YOUR_VALUE_HERE